* {
  background-color: rgb(248, 242, 242);
  margin: 10px;
}

html,
body,
div,
h1,
#result {
  background: url(assets/lightBackground.avif) no-repeat center fixed;
  background-size: cover;
}

h1,
h2,
div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-shadow: 3px 3px 5px pink;
}

#gameBoard {
  border-collapse: collapse;
  padding: 5px;
  border: 5px solid black;
  width: 325px;
  height: 325px;
  display: none;
  box-shadow: 10px 10px 20px 8px lightgray;
}

#summary {
  border-collapse: collapse;
  padding: 5px;
  border: 5px solid black;
  display: none;
  box-shadow: 10px 10px 20px 8px lightgray;
}

td {
  border: 2px solid black;
  text-align: center;
  font-size: 200%;
  width: 33%;
  height: 33%;
}

#lightDarkTheme {
  display: block;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #777;
  padding: 15px;
  text-shadow: none;
  box-shadow: 0 5px #333;
  width: 30px;
}

#reset,
#end {
  display: none;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #cc0000;
  padding: 15px;
  text-shadow: none;
  box-shadow: 0 5px #333;
}

#playAgain {
  display: none;
  border: 1px solid white;
  border-radius: 10px;
  background-color: green;
  padding: 15px;
  text-shadow: none;
  box-shadow: 0 5px #333;
  box-shadow: 3px 3px 3px 0px #999;
}

#play h2,
#result h2 {
  border: 1px solid white;
  border-radius: 10px;
  background-color: green;
  padding: 15px;
  text-shadow: none;
  box-shadow: 0 5px #333;
}

#lightDarkTheme:hover {
  background-color: #555;
}

#lightDarkTheme:active {
  background-color: #999;
  box-shadow: inset;
  transform: translateY(4px);
}

#play h2:hover,
#playAgain:hover {
  background-color: #00aa00;
  box-shadow: 0 5px #333;
}

#play h2:active,
#playAgain:active {
  background-color: #00aa00;
  box-shadow: 3px 3px 3px 0px #999;
  transform: translateY(4px);
}

#end:hover,
#reset:hover {
  background-color: red;
  box-shadow: 3px 3px 3px 0px #999;
}

#end:active,
#reset:active {
  background-color: #660000;
  box-shadow: 3px 3px 3px 0px #999;
  transform: translateY(4px);
}

#gameBoard td:active {
  background-color: #eeeeef;
}

/* ================================================================================================== */

/* Dark Theme */

.dark-theme {
  background-color: black;
  background: url(assets/darkBackground.avif) no-repeat center fixed;
  background-size: cover;
  color: white;
}

.dark-theme html,
.dark-theme body,
.dark-theme div,
.dark-theme h1,
.dark-theme #result {
  background: url(assets/darkBackground.avif) no-repeat center fixed;
  background-size: cover;
}

h3 {
  color: black;
  background-color: white;
}

.dark-theme #lightDarkTheme {
  background-color: #eee;
}

#lightDarkTheme:hover {
  background-color: #fff;
}

#lightDarkTheme:active {
  background-color: #999;
  box-shadow: inset;
  transform: translateY(4px);
}

.dark-theme #gameBoard,
.dark-theme #summary {
  box-shadow: 4px 4px 8px 0px white;
  border: 2px solid white;
  color: white;
}

.dark-theme #result {
  font-size: 25px;
  font-weight: bold;
}

.dark-theme td {
  background-color: black;
  border: 2px solid white;
}

.dark-theme #gameBoard td:active {
  background-color: #333;
}


/* ================================================================================================== */

/* Media Queries */

@media screen and (min-width: 480px) {
  #gameBoard {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 375px) {
  #gameBoard,
  #play h2,
  #playAgain,
  #end,
  #reset {
    margin: 5px;
    padding: 10px;
  }
  #gameBoard {
    width: 290px;
    height: 290px;
  }
}
